<?xml version="1.0"?>
<launch>
    <!-- LOWER LEGS CAMERA -->
    <!-- <include file="$(find gait_parameters_estimation)/launch/camera.launch">
        <arg name="camera_name" value="lower_legs_camera"/>
    </include> -->
    <!-- <include file="$(find gait_parameters_estimation)/launch/toe_detection.launch" /> -->

    <!-- LEG DETECTION -->
    <!-- Laserscanners will autostart from robotrainer_bringup/robot/sr3_on_startup.launch -->
    <!-- <include file="$(find gait_parameters_estimation)/launch/leg_tracker_one_person.launch" /> -->

    <!-- UPPER BODY CAMERA -->
    <!-- <include file="$(find gait_parameters_estimation)/launch/realsense.launch">
        <arg name="camera_name" value="upper_body_camera_realsense"/>
    </include> -->
    <!-- <include file="$(human_body_detection)/launch/human_body_detection_asus.launch" /> -->
    <!-- <node pkg="gait_parameters_estimation" name="gait_com_estimation" type="gait_parameters_estimation_com_tracker_node" output="screen">
        <rosparam command="load" file="$(find gait_parameters_estimation)/config/KalmanFilterParameters.yaml"/>
    </node> -->

    <!-- GAIT ESTIMATION -->
    <include file="$(find gait_parameters_estimation)/launch/extract_mobile_robot_base.launch" />
    <!-- <node pkg="gait_parameters_estimation" name="gait_estimation" type="estimator_toe_refactor.py" output="screen">
        <rosparam command="load" file="$(find gait_parameters_estimation)/config/config.yaml"/>
        <param name="use_toe" value="$(arg use_toe)"/>
        <param name="use_leg" value="$(arg use_leg)"/>
        <param name="use_shoulder" value="$(arg use_shoulder)"/>
        <param name="use_force" value="$(arg use_force)"/>
    </node> -->

    <!-- DEVIATION -->
    <include file="$(find robotrainer_deviation)/launch/robotrainer_deviation.launch" />
      

</launch>