#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("next_task", bool_t, 0, "Send trigger to update bayesian optimization", False)
gen.add("next_user", bool_t, 0, "Switch to the next user or experiment", False)
gen.add("start_topic_check", bool_t, 0, "Check required topics for messages", False)

trial_setup = gen.add_group("User Study Manager", type="tab")

# trial_setup.add("next_trial", bool_t, 0, "Switch to the next trial", False)
trial_setup.add("trial", str_t, 0, "Set current trial", "-1")

# trial_setup.add("next_task", bool_t, 0, "Switch to the next task from the list", False)
trial_setup.add("task_id", str_t, 0, "Set current task id", "END")

# trial_setup.add("next_user", bool_t, 0, "Switch to the next user", False)
trial_setup.add("user_id", str_t, 0, "Set current user id", "-1")

exit(gen.generate("robotrainer_study_bayesian_optimization", "user_study_manager", "UserStudyManager"))

