<?xml version="1.0"?>
<launch>

    <!-- /tf from topic /mobile_robot_pose -->
    <node pkg="gait_parameters_estimation" name="publish_transform_from_topic" type="publish_transform_from_topic.py" output="screen" />

    <!-- publish topic /robot_description -->
    <include file="$(find za_experimental)/launch/urdf_standalone.launch" />

    <!-- publish scenario data as topic /scenario_publisher/visualization_marker -->
    <arg name="scenario_folder_path" default="$(find robotrainer_data_service)/yamls"/>
    <node name="scenario_publisher" pkg="robotrainer_study_automatic_assessment" type="scenario_publisher.py" output="screen">
        <param name="scenario_folder" value="$(arg scenario_folder_path)"/>
        <param name="newton_per_meter" value="30"/>
    </node>

    <!-- Start RViz with a specific configuration -->
    <include file="$(find za_experimental)/launch/rviz.launch" />

</launch>
